main{
    background-color: bisque;
    width: 400px;
    height: 530px;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    margin-left: 10%;
}


/* coplining part */
.coplining_link{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #21c7d9;
    border-radius: 10%;
    padding: 22px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.coplining_button{

}



/* Admin login */
.admin_login{
width: 100px;;
height: 100px;
display: inline-block;
background-color: #21c7d9;
border-radius: 20px;
padding: 22px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
